body {
    font-family: avenir, helvetica, san-serif;
}

.page-footer {
    position: fixed;
    bottom: 0;
    padding: .4em;
    background: #FFFFFF;
}

.is-centered {
    display: block;
    margin: 0 auto;
}

.is-round {
    border-radius: 50%;
}