body {
    font-family: avenir, helvetica, san-serif;
}

ul.is-unstyled {
    list-style: none;
}

ul>li {
    padding: 2em;
}

ul>li:hover {
    background: #00D1B2;
}

ul>li:active {
    background: #67CEBF
}

.card {
    margin-bottom: 2em;
}