html {
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: avenir, helvetica, san-serif;
}

.wrapper {
    margin: 0 auto;
}

.page-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
}

.is-centered {
    display: block;
    margin: 0 auto;
}

.is-round {
    border-radius: 50%;
}

.is-rounded {
    border-radius: 3%;
}