// import bulma initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
// new initial variables
$blue: #4C97B7;
$blue-invert: #fff;
$off-white: #FEFDFB;
$family-serif: "Crimson Text", "Georgia", serif;
$family-sans-serif: "avenir", "helvetica", sans-serif;
$root-size: 18px;
// derived variables
$body-background: $off-white;
$body-size: $root-size;
$family-primary: $family-serif;
$primary: $blue;
$primary-invert: $blue-invert;
// import entire bulma scss
@import "../node_modules/bulma/bulma";