@import"modified-bulma";
html {
    height: 100%;
}

body {
    background-color: #FFF;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

.page-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
}

.is-centered {
    display: block;
    margin: 0 auto;
}

.is-rounded {
    border-radius: 3%;
}

.hero {
    .is-primary {
        background-color: $blue;
        color: $white;
    }
}

#disqus_thread{
    margin-top: 120px;
}