<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">

            <div class="columns is-vcentered">
                <div class="column is-half">
                    <h1 class="title">
                        Software Engineer
                    </h1>
                    <h2 class="subtitle">
                        {% for highlight in site.data.home.highlights %}
                        <p>{{highlight}}</p>
                        {% endfor %}
                    </h2>

                    <div class="content">
            
                        {% for paragraph in site.data.home.paragraphs %}
                        <p>{{paragraph}}</p>
                        {% endfor %}
            
                        <a class="button linked-in" href="https://www.linkedin.com/in/{{site.linkedin.username}}">
                            <span class="icon">
                            <i class="fa fa-linkedin"></i>
                            </span>
                            <span>Follow</span>
                        </a>
                    
                    </div>
                </div>
                <div class="column is-half">
                    <div class="columns is-centered">
                        <div class="column is-6">
                            <figure class="image">
                                <img src="{{ '/assets/images/me-london-stoic.jpg' | relative_url }}">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>