<div class="container">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <span>{{site.title}}</span>
            </a>

            <a role="button" id="navbar-toggle" class="navbar-burger burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="https://www.github.com/{{site.github.username}}">
                <span class="icon">
                    <i class="fa fa-github"></i>
                </span>
                </a>
                <a class="navbar-item" href="https://www.linkedin.com/in/{{site.linkedin.username}}">
                <span class="icon">
                    <i class="fa fa-linkedin"></i>
                </span>
                </a>
                <a class="navbar-item" href="https://www.twitter.com/{{site.twitter.username}}">
                <span class="icon">
                    <i class="fa fa-twitter"></i>
                </span>
                </a>
            </div>

            <div class="navbar-end">
                {% for item in site.data.nav.items %}
                <a class="navbar-item" href="{{item.link}}">
                    <span>{{item.name}}</span>
                </a>
                {% endfor %}
            </div>

        </div>

    </nav>
</div>
