@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


// new initial variables
$blue: #4C97B7;
$blue-invert: #fff;
$off-white: #FEFDFB;
$family-sans-serif: "Montserrat", sans-serif;
$root-size: 17px;

// derived variables
$body-background: $off-white;
$body-size: $root-size;
$family-primary: $family-sans-serif;
$primary: $blue;
$primary-invert: $blue-invert;

// import entire bulma scss
@import "../node_modules/bulma/bulma";
