---
layout: page
title: About
permalink: /about/
---

<div class="columns is-multiline">

    <div class="column is-half is-offset-one-quarter">
        <div class="content">
            <p>{{site.data.about.summary}}</p>
            <hr>
        </div>
    </div>
    
    <div class="column is-half is-offset-one-quarter">
        <div class="content">
            <div class="columns">

                {% for sublist in site.data.about.details %}
                <div class="column">
                    <p class="title is-5 has-text-centered">{{sublist[0]}}</p>
                    <ul>
                        {% for item in sublist offset:1 %}
                        <li>{{item}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>