---
layout: page
title: About
permalink: /about/
---

<div class="columns is-multiline">

    <div class="column is-half is-offset-one-quarter">
        <div class="content">

            <figure class="image">
                <img class="is-rounded" src="{{ 'images/me3.jpg' | relative_url }}">
            </figure>
            <br />
            {% for paragraph in site.data.about.paragraphs %}
            <p>{{paragraph}}</p>
            {% endfor %}

            <br />

            <div class="has-text-centered">
                {% for highlight in site.data.about.highlights %}
                <p>{{highlight}}</p>
                {% endfor %}
            </div>

        </div>
    </div>

</div>